body{
    color: blue;
    font-family: sans-serif, Helvetica, sans-serif;
    background-color: rgb(255, 242, 225);
    font-family: dm-sans;
}
.lista{
    color: aquamarine;
    background-color: black;
    text-align: left;
}
#titulo1{
    background-color: black;
    padding: 20px 0px 20px 0px;
    text-align: left;
}
